<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css'>
  </head>
  <body>

    <header>
        <h1>Sassy Chic Blog</h1>
        <p>Welcome to the world of designer fashion</p>

    </header>

    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <div class="dropdown">
        <button class="dropbtn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 
    </div>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Articles</a>
          <a class="nav-item nav-link" href="#">Fashion images</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        </div>
      </div>
    </nav>

    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">About Us</h5>
          <span class="text-muted">We are the brightest and most dynamic Fashion blog on the internet. Where you will find all the latest fashion trends,news and Lifestyle</span>
        </div>
      </div> -->
     
    <br>
    <br>

    <div class="info">
      Fashion is a highly visual industry, which explains why Instagram is the social network of choice for lovers of style. But there is far more fashion content online than what people share on social media. It has always been a strong niche for blogging.

There are many quality fashion blogs, which unsurprisingly feature high-quality photographs of the latest fashion innovations.  Most fashion blogs are full of inspiration for those mornings you open your wardrobe door with your mind in a blank. They make an ideal place to begin your online research into what’s hot this year before you head off to purchase your own outfits. They can also provide you with ideas about what you can mix and match to create that perfect look.

The successful online fashion bloggers are as much influencers as the big names who post fashion images on Instagram. Indeed, most of these fashion bloggers have an active Instagram presence as well.

    </div>
    <br>
    <br>

    <section class="blog-posts">
      <div>
          <img src="../public/images/milan-fashion-week-trends.jpg" alt="">
          <img src="../public/images/download.jpg" alt="">
          <img src="" alt="">

      </div>

      <div>
        <a href="https://sincerelyjules.com/">Fashion Blog</a> 
        <a href="http://weworewhat.com/blog/">We Whore What</a>
        
      </div>
    

    </section>
   
  </body>
</html>
