<!DOCTYPE html>
<html>
  <head>
    <title>Sassy Chic Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css'>
  </head>
  <body>

    <header>
        <h1>Sassy Chic Blog</h1>
        <p>Welcome to the world of designer fashion</p>

    </header>

   <nav>
     <a href="/">Home</a>
     <a href="/views/create.ejs">Create-new-post</a>
     <a href="/archives">Archives</a>

   </nav>
    <br>
    <br>

    <div class="info">
     Sassy Chic Blog is a highly visual industry, which explains why Instagram is the social network of choice for lovers of style. But there is far more fashion content online than what people share on social media. It has always been a strong niche for blogging.

There are many quality fashion blogs, which unsurprisingly feature high-quality photographs of the latest fashion innovations.  Most fashion blogs are full of inspiration for those mornings you open your wardrobe door with your mind in a blank. They make an ideal place to begin your online research into what’s hot this year before you head off to purchase your own outfits. They can also provide you with ideas about what you can mix and match to create that perfect look.

The successful online fashion bloggers are as much influencers as the big names who post fashion images on Instagram. Indeed, most of these fashion bloggers have an active Instagram presence as well.

    </div>
    <br>
    <br>

    <section class="blog-posts">
      <div class="pics">
          <img src="/images/pexels-photo-1345082.jpeg" alt="">
          <img src="/images/milan-fashion-week-trends.jpg" alt="">
          <img src="/images/download (1).jpg" alt="">

      </div>

      <div class="links">
        <a href="https://sincerelyjules.com/">Fashion Blog</a> 
        <a href="http://weworewhat.com/blog/">We Wore What</a>
        <a href="https://www.thefashionspot.com/style-trends/609035-best-mens-fashion-blogs/">The Fashion Spot</a> 
      </div>

      <div class="snippets">
        <p> fashion blog can cover many things such as specific items of clothing and accessories, beauty tips, trends in various apparel markets celebrity fashion choices and street fashion trends. They cover fashion at all levels from the largest fashion design houses to the smallest independent designers. </p>

            <p>It’s a sad fact, but a true one nonetheless: The countdown to fall has officially begun, but we do have a few weekends left to soak up the season. That said, we’re excited to continue our weekly “Own the Weekends” in which we catch up with fashion and beauty insiders to find out what summer weekends mean to them. </p>

                <p>In 2001, theFashionSpot established itself as the first-ever online community of designers, stylists, and industry influencers. Now the web’s largest, this vibrant social forum is known for intelligent, honest and uncompromising discussions on all aspects of the fashion industry. </p>
      </div>

      <br>
      <br>

      <footer>

        <h1>Registration</h1>
        <br>
        <form action="">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </footer>
    

    </section>
   
  </body>
</html>
