body {
  background-image: url(../images/pexels-photo-934069.jpeg);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #00B7FF; */
  font-size: 25px;
}

nav {
  word-spacing: 20px;
  background-color: crimson;
  text-align: center;
}

header {
  text-align: center;
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

a {
  color: #00B7FF;
}

img {
  width: 400px;
  height: 250px;
}

.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding-left: 90px; */
  padding-right: 30px;
  grid-gap: 50px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 190px;
}

.snippets {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  font-size: 15px;
}


